<div id="<%= dom_id shelf %>">
  <p>
    <strong>Mac address:</strong>
    <%= shelf.mac_address %>
  </p>

  <p>
    <strong>Mac weight:</strong>
    <%= shelf.mac_weight %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= shelf.comment %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= shelf.company_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= shelf.product_id %>
  </p>

  <p>
    <strong>Last shelf stat:</strong>
    <%= shelf.last_shelf_stat %>
  </p>

  <p>
    <strong>Refill shelf stat:</strong>
    <%= shelf.refill_shelf_stat %>
  </p>

  <p>
    <strong>Grap shelf stat:</strong>
    <%= shelf.grap_shelf_stat %>
  </p>

</div>
