<div id="<%= dom_id shop %>">
  <p>
    <strong>Address:</strong>
    <%= shop.address %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= shop.contact_name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= shop.contact_number %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= shop.comment %>
  </p>

  <p>
    <strong>Open at:</strong>
    <%= shop.open_at %>
  </p>

  <p>
    <strong>Close at:</strong>
    <%= shop.close_at %>
  </p>

  <p>
    <strong>Commercial network:</strong>
    <%= shop.commercial_network %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= shop.company_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= shop.city_id %>
  </p>

</div>
