<div id="<%= dom_id notification %>">
  <p>
    <strong>Status:</strong>
    <%= notification.status %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Notifiable:</strong>
    <%= notification.notifiable_id %>
  </p>

  <p>
    <strong>Notifiable type:</strong>
    <%= notification.notifiable_type %>
  </p>

</div>
