<div id="<%= dom_id shelf_stat %>">
  <p>
    <strong>Weight:</strong>
    <%= shelf_stat.weight %>
  </p>

  <p>
    <strong>Weight percent:</strong>
    <%= shelf_stat.weight_percent %>
  </p>

  <p>
    <strong>Product count:</strong>
    <%= shelf_stat.product_count %>
  </p>

  <p>
    <strong>Product count real:</strong>
    <%= shelf_stat.product_count_real %>
  </p>

  <p>
    <strong>Temperature violation:</strong>
    <%= shelf_stat.temperature_violation %>
  </p>

  <p>
    <strong>Timedelta:</strong>
    <%= shelf_stat.timedelta %>
  </p>

  <p>
    <strong>Weight increment:</strong>
    <%= shelf_stat.weight_increment %>
  </p>

  <p>
    <strong>Weight decrement:</strong>
    <%= shelf_stat.weight_decrement %>
  </p>

  <p>
    <strong>Shelf:</strong>
    <%= shelf_stat.shelf_id %>
  </p>

</div>
