<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Capacity yellow:</strong>
    <%= company.capacity_yellow %>
  </p>

  <p>
    <strong>Capacity red:</strong>
    <%= company.capacity_red %>
  </p>

  <p>
    <strong>Notification period yellow:</strong>
    <%= company.notification_period_yellow %>
  </p>

  <p>
    <strong>Notification period red:</strong>
    <%= company.notification_period_red %>
  </p>

  <p>
    <strong>Notification period zen:</strong>
    <%= company.notification_period_zen %>
  </p>

  <p>
    <strong>Notification period temperature:</strong>
    <%= company.notification_period_temperature %>
  </p>

  <p>
    <strong>Shelf offline timeout:</strong>
    <%= company.shelf_offline_timeout %>
  </p>

</div>
