
<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :capacity_yellow %>
    <%= f.input :capacity_red %>
    <%= f.input :notification_period_yellow %>
    <%= f.input :notification_period_red %>
    <%= f.input :notification_period_zen %>
    <%= f.input :notification_period_temperature %>
    <%= f.input :shelf_offline_timeout %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
